<div>
    <div class="modal fade" id="changePwdModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">修改密碼</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="oldPwd" placeholder="oldPwd">
                        <label for="oldPwd">舊密碼</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="newPwd" placeholder="newPwd">
                        <label for="newPwd">新密碼</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="checkPwd" placeholder="checkPwd">
                        <label for="checkPwd">再次確認</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="changePassword()">確定</button>
                </div>

                <script>
                    async function changePassword() {
                        const oldPwd = document.getElementById("oldPwd").value;
                        const newPwd = document.getElementById("newPwd").value;
                        const checkPwd = document.getElementById("checkPwd").value;
                        const body = { oldPwd: oldPwd, newPwd: newPwd, checkPwd: checkPwd };

                        const res = await fetch(`<%= process.env.DOMAIN_URL %>/customer/changePwd`, { method: 'POST', body: JSON.stringify(body), headers: { 'Content-Type': 'application/json' } });
                        const data = await res.json();
                        const dataModel = JSON.parse(data);
console.log(dataModel)
                        alert(dataModel.result);
                        if (dataModel.resultCode == "0") {// 處理成功重新登入.
                            console.log('here');
                            location.href = '/customer/logout'
                        }
                    }
                </script>
            </div>
        </div>
    </div>
</div>